/*! Orbit Tooltips v1.0.0 | MIT license | https://orbitcss.com */

$tooltip-arrow-size: 4px !default;
$tooltip-background: if(variable-exists('black'), $black, #393939) !default;
$tooltip-color: #ffffff !default;
$tooltip-font-size: 0.75rem !default;
$tooltip-line-height: 1.4 !default;
$tooltip-max-width: 250px !default;
$tooltip-padding: 0.25rem 0.75rem !default;
$tooltip-push: 6 !default;
$tooltip-radius: 0 !default;

.tooltip {
  cursor: help;
  position: relative;

  &:before, &:after {
    cursor: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: all .20s ease-out .20s;
    z-index: 5;
  }

  &:before {
    border: $tooltip-arrow-size solid $tooltip-background;
    content: "";
    height: 0;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0;
  }

  &:after {
    background-color: $tooltip-background;
    border-radius: $tooltip-radius;
    color: $tooltip-color;
    content: attr(data-tooltip-content);
    font-size: $tooltip-font-size;
    line-height: $tooltip-line-height;
    max-width: $tooltip-max-width;
    padding: $tooltip-padding;
    text-align: center;
    width: max-content;
    white-space: pre-wrap;
  }

  @if variable-exists('color-palette') {
    @each $color in $color-palette {
      &--c-#{nth($color, 1)} {
        &:after {
          background-color: nth($color, 2);
          @if function-exists('getTextColor') {
            color: getTextColor(nth($color, 2));
          }
        }

        &:before {
          border-color: nth($color, 2);
        }
      }
    }
  }

  &:hover, &--active {
    &:after, &:before {
      opacity: 1;
    }
  }

  &.has-no-animation {
    &:before, &:after {
      transition: none;
    }
  }

  &--top, &--top-left, &--top-right {
    &:after {
      bottom: 100%;
      margin-bottom: $tooltip-arrow-size;
      transform: translate(-50%, 0);
    }

    &:before {
      bottom: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      transform: translate(-50%, 0) rotate(-45deg);
    }

    &:hover, &--active {
      &:after {
        transform: translate(-50%, calc(#{$tooltip-push} * -1px));
      }

      &:before {
        transform: translate(-50%, calc(#{$tooltip-push} * -1px)) rotate(-45deg);
      }
    }
  }

  &--bottom, &--bottom-left, &--bottom-right {
    &:after {
      margin-top: $tooltip-arrow-size;
      top: 100%;
      transform: translate(-50%, 0);
    }

    &:before {
      border-bottom-color: transparent;
      border-left-color: transparent;
      top: 100%;
      transform: translate(-50%, 0) rotate(-45deg);
    }

    &:hover, &--active {
      &:after {
        transform: translate(-50%, #{$tooltip-push}px);
      }

      &:before {
        transform: translate(-50%, #{$tooltip-push}px) rotate(-45deg);
      }
    }
  }

  &--top, &--bottom {
    &:after, &:before {
      left: 50%;
    }
  }

  &--top-left, &--bottom-left {
    &:after, &:before  {
      left: 15%;
    }
  }

  &--top-right, &--bottom-right {
    &:after, &:before {
      left: 85%;
    }
  }

  &--right {
    &:after {
      left: 100%;
      margin-left: $tooltip-arrow-size;
      top: 50%;
      transform: translate(0, -50%);
    }

    &:before {
      border-bottom-color: transparent;
      border-right-color: transparent;
      left: 100%;
      top: 50%;
      transform: translate(0, -50%) rotate(-45deg);
    }

    &:hover, &--active {
      &:after {
        transform: translate(#{$tooltip-push}px, -50%);
      }

      &:before {
        transform: translate(#{$tooltip-push}px, -50%) rotate(-45deg);
      }
    }
  }

  &--left {
    &:after {
      right: 100%;
      margin-right: $tooltip-arrow-size;
      top: 50%;
      transform: translate(0, -50%);
    }

    &:before {
      border-top-color: transparent;
      border-left-color: transparent;
      right: 100%;
      top: 50%;
      transform: translate(0, -50%) rotate(-45deg);
    }

    &:hover, &--active {
      &:after {
        transform: translate(calc(#{$tooltip-push} * -1px), -50%);
      }

      &:before {
        transform: translate(calc(#{$tooltip-push} * -1px), -50%) rotate(-45deg);
      }
    }
  }
}
